<div class="container">
  <app-banner></app-banner>
  <div class="about">
    <h2>Acerca de nosotros</h2>
    <p class="px-4">
      Somos una empresa colombiana manufacturera y comercializadora de calzado, fundada en el 2007. Nos destacamos por
      la calidad y diseño de nuestros productos, lo que nos ha permitido trabajar con grandes marcas referentes en el
      país.
      ¡Queremos seguir vistiendo los pies de los Colombianos y próximamente los pies del mundo! <br>
      <span>Gracias por hacer parte de este sueño</span>
    </p>
  </div>

<app-destacados></app-destacados>
  

</div>