<mat-card class="card">
    <mat-card-header>
      <mat-card-title class="titulo">{{data.nombre}}</mat-card-title>
      <mat-card-subtitle class="subtitulo">{{data.precio}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image src="https://previews.dropbox.com/p/thumb/ACRQrMLi6moXnHSAAoZDerGnZ_fEtO-PTj593StS9DqebWAe8L5DHg4jtF1AosGwKrsp_yK9CXqBcgbhSoe0lkGMgbCsfLezSpwPXLTlvCBj-Apf7KD2vBLP_2jOO7Hsi8zzPVDTFzCdRXSRuafBqR6nDiHAc43DFns8ATiT192J7Hah-YD5BPjr-b7BxyM6kJ_Mgy_svwy4ZlblUysQx4X1IYf-tdjt1G7UmQZgvE9WnV7F8bsVcGvnszRoboa9jfwDlmLO38lstC3XUI5GEFq_QwfuylW8Lt0YFNxJyyMkT-j2GyqeixgXZV4yk0jrZo-F-7Mdg5BHj8nz6-YkjZyc/p.jpeg" alt="Photo of a Shib Inu">
    </mat-card-content>
    <mat-card-actions>
      <button (click)="verProducto()">Ver Producto</button>
    </mat-card-actions>
  </mat-card>