.card{
    width: 250px;
  
}
mat-card-header{
  text-align: center;
}
mat-card-content{
  justify-content: center;
}
mat-card-actions{
    justify-content: center;
}
.titulo{
  color: #F28482;
  padding-bottom: 8px;
}
.subtitulo{
  color: #61B072;
  padding-bottom: 8px;
}
img{
  width: 200px;
}
button {
    background-color: #D06075;
    color: #fff;
    width: 170px;
    border-radius: 15px;
    height: 40px;
    border-style: none;
    transition: background-color 0.3s ease;
  }

  button:hover{
    background-color: #F28482 ;
  }