<footer>
    <div class="container1 d-flex justify-content-around">
        <div class="footer-box">
            <ul>
                <li>MENU</li>
                <li>Inicio</li>
                <li>Tienda</li>
                <li>Carrito</li>
                <li>Contacto</li>
                <li>Cuenta</li>
            </ul>
        </div>
        <div class="footer-box d-flex flex-column ">
            <div class="d-flex justify-content-around">
                <p>SIGUENOS</p>
                <img src="../../../assets/images/logos/facebook.png" alt="logo" width="50" height="50">
                <img src="../../../assets/images/logos/instagram.png" alt="logo" width="50" height="50">
            </div>
            <div class="d-flex flex-column">
                <br>
                <a href="">Politica de privacidad</a>
                <a href="">Terminos y condiciones</a>
            </div>


        </div>
    </div>
    <div class="sub-footer">
        <p>Copyright 2024 © Todos los derechos reservados | JamesGran</p>
    </div>
</footer>