img{
    width: 100%;
}
h2{
  color: #D06075;
}
.form-label{
  font-weight:lighter;
  font-size: 17px;
 
}
button {
    background-color: #D06075;
    color: #fff;
    width: 170px;
    border-radius: 15px;
    height: 40px;
    border-style: none;
    transition: background-color 0.3s ease;
  }

  button:hover{
    background-color: #F28482 ;
  }
