
<div class="container">
    <img src="../../../../assets/images/banner/contacto.jpg" alt="">
</div>
<div class="container w-70">
    <form [formGroup]="contactoForm" (submit)="contacto()" class="container">
        <h2 class="m-5 fs-1 text-center">¿Necesitas ayuda personalizada? <br> Ponte en contacto con nosotros</h2>

        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" id="nombre" formControlName="nombre" class="form-control" placeholder="Ingrese su nombre" />
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" id="email" formControlName="email" class="form-control" placeholder="Ingrese su Email" />
          </div>


        <div class="mb-3">
            <label for="mensaje" class="form-label">Mensaje:</label>
            <textarea type="text" id="mensaje" formControlName="mensaje" class="form-control" placeholder="" ></textarea>
          </div>
      
        <div class="col-auto">
          <button type="submit" class="btn mb-3">Enviar</button>
        </div>
      </form>
</div>