<div *ngIf="!hayCarrito; else elseBlock">

    <div class="container" >
        <h2 class="subtitulo">Aun no hay productos en el carrito</h2>
    </div>

</div>
<ng-template #elseBlock>

    <div class="container">
        <h2>Carrito</h2>
        <mat-table [dataSource]="productos" class="mat-elevation-z8">
            <!-- name Column -->
            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef> Nombre</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
            </ng-container>

            <!-- price Column -->
            <ng-container matColumnDef="precio">
                <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.precio}} </mat-cell>
            </ng-container>

            <!-- amount Column -->
            <ng-container matColumnDef="cantidad">
                <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.cantidad}} </mat-cell>
            </ng-container>

            <!-- subtotal Column -->
            <ng-container matColumnDef="subtotal">
                <mat-header-cell *matHeaderCellDef> Subtotal </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.precio * element.cantidad}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button color="warn" (click)="eliminarDelCarrito(element)">
                        <mat-icon>delete</mat-icon>
                    </button> </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
    <div class="container d-flex justify-content-between text-start">
        <div></div>

        <div class="d-flex flex-column fs-5 ">
            <h2 class="textcarrito">TOTAL DEL CARRITO</h2>
            <label class="textcarrito">Subtotal: <span>{{getTotal()}}</span></label>
            <label class="textcarrito">Envio Fijo: <span>{{envio}}</span></label>
            <a class="textcarrito" href="#"> ¿Actualizar Direccion?</a>
            <br>
            <br>
            <label class="textcarrito">Total: {{getTotal() + envio}}</label>
            <div *ngIf="hayUsuario; else elseBlock">
                <button class="btn-pago" (click)="crearPedido()">Ir a pagos</button>
            </div>
            <ng-template #elseBlock>
                <br>
                <label class="textcarrito">Debes iniciar sesion para hacer checkout</label>
                <button class="btn-pago"><a routerLink="../cuenta">Iniciar Sesion</a></button>
            </ng-template>

        </div>

    </div>

</ng-template>