.btn {
    background-color: #D06075;
    color: #fff;
    width: 170px;
    border-radius: 15px;
    height: 40px;
    border-style: none;
    transition: background-color 0.3s ease;
    
  }

  .btn:hover{
    background-color: #F28482 ;
  }
  .form{
    display: flex;
    flex-wrap: wrap;
  }
  .form mat-form-field{
    margin-right: 10px;
  }
