<div class="text-center">
    <div class="example-action-buttons">
        <button mat-button (click)="accordion.openAll()">Expandir</button>
        <button mat-button (click)="accordion.closeAll()">Cerrar</button>
    </div>
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Datos personales
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="usuarioForm" (submit)="actualizar()">
                <div class="form">
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre" >
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Apellido</mat-label>
                        <input matInput formControlName="apellido">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Telefono</mat-label>
                        <input matInput formControlName="telefono">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Direccion</mat-label>
                        <input matInput formControlName="direccion">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Fecha de registro</mat-label>
                        <input matInput formControlName="fecha_registro">
                    </mat-form-field>
                </div>
                
                <div>
                    <button type="submit" class="btn mb-3">Actualizar</button>
                </div> 
            </form>
            
    
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Historial de compras
                </mat-panel-title>
            </mat-expansion-panel-header>
           <app-tabla></app-tabla>
        </mat-expansion-panel>
    </mat-accordion>
</div>
