.container{
    margin-top: 50px;
}
.thumbnail img{
    width: 100px;
}
.image-container img{
    width: 300px;
    margin-bottom: 50px;
}
.container2{
    padding-top: 4em;
}
h1{
    color: #F28482;
}
span{
    color: #61B072;
}
.form{
    margin-top: 4em;
}
input{
    width: 40px;
}
.cantidad{
    margin-top: 20px;
    justify-content: center;
}
